name: CI

permissions: {} # none

on:
  pull_request:
  push:
    branches: [master]

env:
  CLICOLOR: 1

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        build: [linux, macos, win-msvc]
        include:
        - build: linux
          os: ubuntu-latest
          rust: stable
          target: x86_64-unknown-linux-musl
          git: crate-ci/committed
          bin: committed
        - build: macos
          os: macos-latest
          rust: stable
          target: x86_64-apple-darwin
          git: crate-ci/committed
          bin: committed
        - build: win-msvc
          os: windows-latest
          rust: stable
          target: x86_64-pc-windows-msvc
          git: crate-ci/committed
          bin: committed
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v5
    - name: Install (posix)
      run: |
        sh v1/install.sh -- --git ${{ matrix.git }} --crate ${{ matrix.bin }} --target ${{ matrix.target }} --to .
      if: "matrix.os != 'windows-latest'"
    - name: Install (Windows)
      run: |
        v1/install.ps1 -git ${{ matrix.git }} -crate ${{ matrix.bin }} -target ${{ matrix.target }} -to .
      if: "matrix.os == 'windows-latest'"
    - name: Verify
      run: ./${{ matrix.bin }} --help
  shellcheck:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
      - name: Run ShellCheck
        uses: ludeeus/action-shellcheck@master
